<div class="container" cdkDropListGroup>
  <div class="container-postit" cdkDropList [cdkDropListData]="todo" (cdkDropListDropped)="drop($event)">
    Todo
    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>

  </div>
  <div class="container-postit" cdkDropList [cdkDropListData]="progress" (cdkDropListDropped)="drop($event)">
    Progress
    <div class="example-box" *ngFor="let item of progress" cdkDrag>{{item}}</div>
  teste
  </div>
  <div class="container-postit" cdkDropList [cdkDropListData]="done" (cdkDropListDropped)="drop($event)">
    Done
    <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
  </div>
</div>
